/* Style the buttons */
.nav-link{
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
  .active, .nav-item, .nav-link:hover {
    background-color: rgb(97, 124, 212);
    color: white;
  }